.content-emoji-movie{
  border-radius: 6px;
  padding: 25px;
  background-color: beige;
  font-size: 3rem;
  font-weight: 200;
  display: flex;
  justify-content: center;
  letter-spacing: 20px
}

.content-discover{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content-table-movie{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content-input-movie{ 
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.content-input-movie input{
  border: none;
  border-radius: 4px;
  font-size: large;
  outline:none ;
  color: rgb(133, 50, 133);
  width: 220px;
  padding: 10px;

}