.content{
    /* justify-self: center; */
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    border-radius: 16px;
    font-family: 'Libre Baskerville', serif;
    padding: 10px 30px;
    align-self: center;
    
}


  
.table {
  z-index: 1;
  padding: 0px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  max-width: 34rem;
  margin: auto;

}


.content-button{
  display: flex;
  gap: 15px;
}

.icon{
  font-size: 20px;
}

.reaction-emoji{
  font-size: 65px;
  margin: 0;
}

.content-table{
  margin-left: 50px;
}



  